<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MyCommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categories" >Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart" href="">Cart <span class="badge bg-warning">{{cartCount}}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">

    <div class="row">

        <div class="card col-md-5 m-1 mb-2 pointer" routerLink="/category/{{cat}}" *ngFor="let cat of categories" >
            <div class="card-body p-5 text-center">
                <h3 class="text-info">{{cat|uppercase}}</h3>
            </div>
        </div>
        
    </div>

  </div>