<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MyCommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart" >Cart <span class="badge bg-warning">{{cartCount}}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">

    <div class="row">
        <table class="table table-striped table-bordered" >
            <thead>
                <tr>
                    <th [width]="80">Sl.No</th>
                    <th>Title</th>
                    <th [width]="100" class="text-end">Qty</th>
                    <th [width]="200" class="text-end">Unit Price</th>
                    <th [width]="200" class="text-end">Sub total</th>
                    <th [width]="30"></th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let item of cart;let index=index">
                    <td>{{index+1}}</td>
                    <td>{{item.title}}</td>
                    <td class="text-end">{{item.qty}}</td>
                    <td class="text-end">{{item.unitPrice|currency}}</td>
                    <td class="text-end">{{item.qty*item.unitPrice|currency}}</td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" class="cursor" (click)="deleteItem(item.id)" width="14" height="14" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                          </svg>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="4" class="text-end">
                    Total
                </td>
                <td class="text-end">
                    <h5>{{findTotal()|currency}}</h5>
                </td>
                <td>

                </td>
            </tfoot>

        </table>
    </div>

  </div>